{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "chrome": "60"
      }
    }],
    "@babel/preset-typescript",
    ["@babel/preset-react", {
      "pragma": "h"
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining"
  ]
}
