.x-canvas-table {
  position: relative;
  background-color: white;
  &, *, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  > canvas {
    position: absolute;
  }

  .x-canvas-table-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  > .x-canvas-scroll {
    //width: 100%;
    //height: 100%;
    position: absolute;
    overflow: hidden;

    .x-canvas-scroll-inner {
      overflow: auto;
      position: absolute;

      &::-webkit-scrollbar {
        cursor: pointer;
      }
      /*滚动条里面小方块*/
      &::-webkit-scrollbar-thumb {
        border-radius: 9px;
        background-color: rgba(127, 127, 127, 0.85);
        cursor: pointer;
      }

      //&:hover {
      //  &::-webkit-scrollbar-thumb {
      //    //background-color: rgba(127, 127, 127, 0.85);
      //  }
      //}

      .x-canvas-scroll-end {
        display: inline-block;
        width: 1px;
        height: 1px;
        position: relative;
      }
    }
    .x-scroll-shadow-left {
      position: absolute;
      top: 0;
      left: 0;
      transition: box-shadow .3s ease;
      &.show {
        box-shadow: 6px 0 6px -4px rgba(0,0,0,0.15);
      }
    }

    .x-scroll-shadow-right {
      position: absolute;
      top: 0;
      right: 0;
      transition: box-shadow .3s ease;
      &.show {
        box-shadow: -6px 0 6px -4px rgba(0,0,0,0.15);
      }
    }
  }

  .x-canvas-table-selection-cell {
    position: absolute;
    display: none;
    background-color: #e6f7ff;
    //border: 1px solid #1890ff;
    border: none;
    outline: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &.show {
      display: inline-block;
    }
  }

  .x-tooltip {
    position: fixed;
    background-color: rgba(0,0,0,0.85);
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
    outline: 0;
    transition-property: transform,visibility,opacity;
    padding: 8px;
    border-radius: 4px;
    transform: translate3d(-50%, -100% - 20, 0);
    display: none;

    &:before {
      bottom: -4px;
      left: 50%;
      transform: translateX(-50%);
      transform-origin: center top;
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid rgba(0,0,0,0.85);
    }
  }
}
